@model IEnumerable<Vidly.Models.Movie>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<p>
    <a class="btn btn-primary" asp-action="New">Create New</a>
</p>
<table id="movies" class="table">
    <thead>
        <tr>
            <th>
               Name
            </th>
            <th>
                Genre
            </th>
            
            
           
        </tr>
    </thead>
    <tbody>
       
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {

            var table = $("#movies").DataTable({
                processing: true,
                serverSide: true,
                ajax:{url:"/api/movies",dataSrc:""},

                columns: [
                    {
                    data: "name",
                    render: function (data, type, movie) {
                        return "<a href= '/movies/Edit/" + movie.Id + "'>" + movie.name + "</a>";
                    }
                    },
                    {
                    data: "genre.name"
                    }
                ]

            });

           

        });
    </script>
}